<header class="border-bottom py-2 mt-4 bg-secondary text-white">
  <div class="container">
    <p class="m-0">
      © 2022 -
      <a
        href=""
        target="_blank"
        class="text-white text-decoration-none"
      >
        Binar Academy
      </a>
      - Mikael Vito Putera (Challenge 6)
    </p>
  </div>
</header>
