<header class="border-bottom py-2 mb-4">
  <nav class="navbar navbar-expand-sm">
    <div class="container">
      <a class="navbar-brand" href="/home">Challenge 6</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if (url.includes('/userGames')) { %>
              <a href="/userGames" class="nav-link active" aria-current="page">User Game</a>
            <% } else { %> 
              <a href="/userGames" class="nav-link">User Game</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if (url.includes('/userProfiles')) { %>
              <a href="/userProfiles" class="nav-link active" aria-current="page">User Profile</a>
            <% } else { %>
              <a href="/userProfiles" class="nav-link">User Profile</a>
            <% } %>
          </li>

          <li class="nav-item">
            <% if (url.includes('/suppliers')) { %>
              <a href="/userProfiles" class="nav-link active" aria-current="page">User History</a>
            <% } else { %>
              <a href="/userProfiles" class="nav-link">User History</a>
            <% } %>
          </li>
        </ul>
      </div>
    </div>
  </nav>  
</header>
