<div class="d-flex justify-content-between align-items-center">
  <h3 class="m-0"><%= pageTitle %></h3>
  <a class="btn btn-primary" href="/userProfiles/create" role="button">
    <i class="bi-plus-lg"></i> Create Profile
  </a>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Address</th>
        <th scope="col">phoneNumber</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td class="w-75">Mikael Vito</td>
        <td class="w-50">Jl. Kalibata</td>
        <td class="w-50">08212323</td>
        <td>
          <div class="d-flex gap-2 text-nowrap">
            <a class="btn btn-success btn-sm" href="/userProfiles/1" role="button">
              <i class="bi-eye-fill"></i> Detail
            </a>

            <a class="btn btn-primary btn-sm" href="/userProfiles/1/edit" role="button">
              <i class="bi-pencil-fill"></i> Edit
            </a>

            <a class="btn btn-danger btn-sm" role="button">
              <i class="bi-trash-fill"></i> Hapus
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="w-75">Raihan Saputra</td>
        <td class="w-50">Jl. Pancoran</td>
        <td class="w-50">08124545</td>
        <td>
          <div class="d-flex gap-2 text-nowrap">
            <a class="btn btn-success btn-sm" href="/userProfiles/1" role="button">
              <i class="bi-eye-fill"></i> Detail
            </a>

            <a class="btn btn-primary btn-sm" href="/userProfiles/1/edit" role="button">
              <i class="bi-pencil-fill"></i> Edit
            </a>

            <a class="btn btn-danger btn-sm" role="button">
              <i class="bi-trash-fill"></i> Delete
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td class="w-75">Putri Safitri</td>
        <td class="w-50">Jl. Kemang</td>
        <td class="w-50">08314444</td>
        <td>
          <div class="d-flex gap-2 text-nowrap">
            <a class="btn btn-success btn-sm" href="/userProfiles/1" role="button">
              <i class="bi-eye-fill"></i> Detail
            </a>

            <a class="btn btn-primary btn-sm" href="/userProfiles/1/edit" role="button">
              <i class="bi-pencil-fill"></i> Edit
            </a>

            <a class="btn btn-danger btn-sm" role="button">
              <i class="bi-trash-fill"></i> Delete
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>